
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: auto;
  scroll-behavior: smooth;
}

/* HTML Animation bar */
.html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 90px;
  }
}

/* CSS Animation bar */

.css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 80px;
  }
}

/* SASS Animation bar */

.sass-bar{
  animation: sass-fill 2s forwards;
}
@keyframes sass-fill{
  100%{
      width: 75px;
  }
}

/* BOOTSTRAP Animation bar */

.bootstrap-bar{
  animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill{
  100%{
      width: 75px;
  }
}

/* TAILWIND Animation bar */

.tailwind-bar{
  animation: tailwind-fill 2s forwards;
}
@keyframes tailwind-fill{
  100%{
      width: 75px;
  }
}

/* JAVASCRIPT Animation bar */

.javascript-bar{
  animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
  100%{
      width: 75px;
  }
}

/* REACT Animation bar */

.react-bar{
  animation: react-fill 2s forwards;
}
@keyframes react-fill{
  100%{
      width: 70px;
  }
}

.redux-bar{
  animation: redux-fill 2s forwards;
}
@keyframes redux-fill{
  100%{
      width: 60px;
  }
}

/* navbar Links */

.link{
  color: #ffffff;
}

.active{
  color: #e11d48 ;
}

/* Back To top  */

.pushtop{
  right: 1%;
  bottom: 3%;
  transform: translate(-50%, -50%);
   position: fixed;
  cursor: pointer;
  display:none;
  transition:all .3s ease-in-out;
  background-color: #e11d48;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  z-index: 11111;
}

.pushtop.active{
  display:flex;
  transition:all .3s ease-in-out;
}

/* Ball Animation */

.ball {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FF5722;
            animation: bounce 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            animation-iteration-count: infinite;
        }

        @keyframes bounce {
          from {
              transform: translate3d(0, 10px, 0);
          }
          to {
              transform: translate3d(0, 30px, 10px);
          }
      }

 /* Reading */
      .book {
        
        animation: move 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.55,.5,.45,.5);
        animation-iteration-count: infinite;
        
    }

    @keyframes move {
      from {
          transform: translate3d(0, 10px, 0);
      }
      to {
        transform: translate3d(40px, 10px, 30px);
      }
  }


  /* Research */

  .drop {
    animation: pulse 1s linear forwards infinite;
  }
  
  
     @keyframes drip {
    to {
      top: 120px;
    }
}

/* Splash Animation */

.splash{
  animation: pulse 1s linear forwards infinite;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Capturing bigger Screens */

@media (min-width: 2560px) {
  p, li, span, Link, a, small{
    font-size: 1.5rem;
    line-height: 4.5rem;
    margin: 10px 0;
  }
  h1, h2{
    font-size: 2.5rem !important;
    line-height: 4.5rem;
  }
  h3, h4, h5, h6{
    font-size: 1.8rem;
  }
}